* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
div {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 16px;
  background-color: #5e5e5e;
}
header .header_logo {
  width: 50px;
  height: 50px;
  background-color: #000;
}
header .header_search {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #eee;
}
header .header_btn {
  display: inline-block;
  padding: 2px 6px;
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: seagreen;
}
.sideBtn {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
  right: 10px;
  bottom: 10px;
}
.sideBtn div {
  margin-bottom: 10px;
  padding: 6px 8px;
  width: fit-content;
  line-height: 1.5;
  border-radius: 6px;
  background-color: slateblue;
  color: #fff;
  font-size: 14px;
}
.sideBtn .sideBtn_notify {
  background-color: crimson;
}
.loadingIcon {
  display: none;
  margin: 200px auto;
  width: 80px;
  height: 80px;
  background: url(./img/loading.svg) 0 0 no-repeat;
}
.list {
  width: 100%;
}
.list li {
  display: flex;
  justify-content: flex-start;
  padding: 16px 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
.name {
  width: 114px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  margin-right: 10px;
}
.artist {
  color: #5e5e5e;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.album {
  color: #2a2a2a;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: auto;
}
